/* 
    Document   : xstyle
    Created on : Jan 9, 2013, 10:56:46 AM
    Author     : Nishant Kumar
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
.navbar-inner{
    background-color: #dddddd;
    border: #515151;
}
.navbar .brand {
    color: #dd4814;
}
.navbar .nav>li>a{border-right:1px solid rgba(0, 0, 0, 0.2);border-left:1px solid rgba(0, 0, 0, 0.2);}.navbar .nav>li>a:hover{border-right:1px solid rgba(0, 0, 0, 0.2);}
.navbar .nav>li>a:focus,.navbar .nav>li>a:hover{background-color:#b2bac7;color:#dd4814;text-decoration:none;}
.navbar .nav li.dropdown.open>.dropdown-toggle,.navbar .nav li.dropdown.active>.dropdown-toggle,.navbar .nav li.dropdown.open.active>.dropdown-toggle{background-color:#b2bac7;color:#dd4814;}
.nav-tabs .open .dropdown-toggle,.nav-pills .open .dropdown-toggle,.nav>li.dropdown.open.active>a:hover{border-right:1px solid #b7bfcb;border-left:1px solid #b7bfcb;}
.navbar-fixed-top .nav>li>a{
    color: #dd4814;
}
.navbar .nav li.dropdown>.dropdown-toggle .caret{border-top-color:#dd4814;border-bottom-color:#dd4814;}